<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="secondary">
      <ion-button fill="outline" color="danger">
        <ion-icon slot="start" name="trash"></ion-icon>
        DEL
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="primary">
      <ion-button fill="outline" color="success">
        Edit
        <ion-icon slot="end" name="create"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title id="tituloHeader">DETALLES EJERCICIOS</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  

  <ion-list id="idListaEjercicios">
    <ion-item>
      <ion-grid>
        <ion-row>
          <h2><strong>Título:</strong> {{document.ejercicio.titulo}}</h2>
        </ion-row>
        <ion-row>
          <p>{{document.ejercicio.descripcion}}</p>
        </ion-row>
        <ion-row>
          <p><strong>Músculos:</strong> {{document.ejercicio.musculosUsados}}</p>
        </ion-row>
        <ion-row>
          <p><strong>Series: </strong>{{document.ejercicio.series}}</p>
        </ion-row>
        <ion-row>
          <p><strong>Repeteciones: </strong>{{document.ejercicio.repeticiones}}</p>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-grid>
      <ion-grid>
        <ion-row id="idRowDatos">
          <ion-label id="idLabel">Título: </ion-label>
          <ion-input [(ngModel)]="document.ejercicio.titulo"></ion-input>

          <ion-label id="idLabel">Descripción: </ion-label>
          <ion-input [(ngModel)]="document.ejercicio.descripcion"></ion-input>

          <ion-label id="idLabel">Musculos: </ion-label>
          <ion-input [(ngModel)]="document.ejercicio.musculosUsados"></ion-input>

          <ion-label id="idLabel">Series: </ion-label>
          <ion-input [(ngModel)]="document.ejercicio.series"></ion-input>

          <ion-label id="idLabel">Repeticiones: </ion-label>
          <ion-input [(ngModel)]="document.ejercicio.repeticiones"></ion-input>
        </ion-row>
        <ion-row id="idRowBotones">
          <ion-button color="success" fill="outline">
            <ion-icon name="create-outline"></ion-icon>
          </ion-button>
        </ion-row>
      </ion-grid>
    </ion-grid>
  </ion-list>
</ion-content>