<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="secondary">
      <ion-button fill="outline" color="danger" (click)="alertBorrarTarea()">
        <ion-icon slot="start" name="trash"></ion-icon>
        DEL
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="primary">
      <ion-button fill="outline" color="success" (click)="clickBotonEdit()">
        Edit
        <ion-icon slot="end" name="create"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title id="tituloHeader">DETALLES EJERCICIOS</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">

  <ion-list id="idListaEjercicios" *ngIf="!edit">
    <ion-item>
      <ion-grid>
        <ion-row>
          <h2><strong>Título:</strong> {{document.ejercicio.titulo}}</h2>
        </ion-row>
        <ion-row>
          <p>{{document.ejercicio.descripcion}}</p>
        </ion-row>
        <ion-row>
          <p><strong>Músculos:</strong> {{document.ejercicio.musculosUsados}}</p>
        </ion-row>
        <ion-row>
          <p><strong>Series: </strong>{{document.ejercicio.series}}</p>
        </ion-row>
        <ion-row>
          <p><strong>Repeteciones: </strong>{{document.ejercicio.repeticiones}}</p>
        </ion-row>
        <ion-row>
          <ion-img [src]="document.ejercicio.imagenURL"></ion-img>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>
  <ion-list *ngIf="edit">
    <ion-grid>
      <ion-grid>
        <ion-row id="idRowDatos">
          <ion-label id="idLabel">Título: </ion-label>
          <ion-input [(ngModel)]="document.ejercicio.titulo"></ion-input>

          <ion-label id="idLabel">Descripción: </ion-label>
          <ion-input [(ngModel)]="document.ejercicio.descripcion"></ion-input>

          <ion-label id="idLabel">Musculos: </ion-label>
          <ion-input [(ngModel)]="document.ejercicio.musculosUsados"></ion-input>

          <ion-label id="idLabel">Series: </ion-label>
          <ion-input [(ngModel)]="document.ejercicio.series"></ion-input>

          <ion-label id="idLabel">Repeticiones: </ion-label>
          <ion-input [(ngModel)]="document.ejercicio.repeticiones"></ion-input>
        </ion-row>
        <ion-row>
          <ion-button color="success" (click)="seleccionarImagen()" fill="outline">
            Subir Imagen (<ion-icon name="cloud-upload-outline"></ion-icon>)
          </ion-button>
        </ion-row>
        <ion-row>
          <ion-button color="success" (click)="subirImagenYModificarTarea()" fill="outline">
            GUARDAR CAMBIOS
          </ion-button>
        </ion-row>
      </ion-grid>
    </ion-grid>
  </ion-list>
  <ion-fab slot="fixed" vertical="bottom" horizontal="start">
    <ion-fab-button (click)="clickSalirHome()" color="dark">
      <ion-icon name="arrow-back-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button (click)="clickCompartir()" color="success">
      <ion-icon name="share-social"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>