<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Detalles Ejercicios</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Detalle Ejercicios</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-grid>
    <ion-row>
      <h2>Título: {{document.ejercicio.titulo}}</h2>
    </ion-row>
    <!-- <ion-row>
      <p>{{documentEjercicio.ejercicio.descripcion}}</p>
    </ion-row>
    <ion-row>
      <p><strong>Músculos:</strong> {{documentEjercicio.ejercicio.musculosUsados}}</p>
    </ion-row>
    <ion-row>
      <p><strong>Series: </strong>{{documentEjercicio.ejercicio.series}}</p>
    </ion-row>
    <ion-row>
      <p><strong>Repeteciones: </strong>{{documentEjercicio.ejercicio.repeticiones}}</p>
    </ion-row> -->
  </ion-grid>
</ion-content>
