#idListaEjercicios {
    display: flex;
    justify-content: center;
    border-top: 1px solid cadetblue;
    border-bottom: 1px solid cadetblue;
}

#tituloHeader {
    font-weight: 900;
    display: flex;
    justify-content: center;
}