// Mediante el scss hay que editar aplicación
#container {
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

#idTituloPag {
  font-weight: 900;
  display: flex;
  justify-content: center;
}

#idRowDatos {
  display: flex;
  padding-left: 10px;

  // Separamos botones de input
  margin-bottom: 10px;
}

#idLabel {
  margin: 5px;
  padding: 5px;
  border-bottom: 2px solid cadetblue;
  border-left: 2px solid cadetblue;
}

#idRowBotones {
  display: flex;
  justify-content: center;
  
}

#h1TituloEjercicios {
  color: cadetblue;
  display: flex;
  justify-content: center;
}

#idListaEjercicios {
  display: flex;
  justify-content: center;
  flex-direction: column;
  border-top: 1px solid cadetblue;
  border-bottom: 1px solid cadetblue;
}

#idBottomToolbar {
  margin-bottom: 50px;
}
